<div class="website clearfix">
  <div class="pull-left col-md-4">
    <%= website.url %>
  </div>
  <div class="pull-left col-md-4">
    NS: <%= website.name_server %>
  </div>
  <div class="pull-right col-md-4 text-right">
    <%= link_to "details", url_for(:controller => :websites, :action => :show, :id => website.id) %>
  </div>
</div>
