// Place all the styles related to the Registrars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registrar {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 3px;
}

.registrar ~ .registrar {
  border-top: none;
}
